@font-face {
  font-family: "AquawaxBlackTrial";
  src: url("/assets/fonts/AquawaxBlackTrial.ttf");
}
@font-face {
  font-family: "AquawaxLightTrial";
  src: url("/assets/fonts/AquawaxLightTrial.ttf");
}
@font-face {
  font-family: "AquawaxMediumTrial";
  src: url("/assets/fonts/AquawaxMediumTrial.ttf");
}
@font-face {
  font-family: "TitilliumBold";
  src: url("/assets/fonts/TitilliumWeb-Bold_2.ttf");
}
@font-face {
  font-family: "TitilliumWebRegular";
  src: url("/assets/fonts/TitilliumWeb-Regular_6.ttf");
}
@font-face {
  font-family: "TitilliumWebSemiBold";
  src: url("/assets/fonts/TitilliumWeb-SemiBold_6.ttf");
}
