.cuerpo.fadeIn
  .flex.jcenter.jstart.fcolumn.izquierda
    .titulo
      span {{cabecera.titulo}}
    .texto
      p {{cabecera.texto}}
  .flex.jcenter.acenter.derecha
    .imagen(style="background-image: url({{cabecera.imagen}})")
.scroll-down(scroll-to-target, target="leyendo-tu-mente")
  i.fa.fa-chevron-down
