.cuerpo.fadeIn
  .flex.jcenter.jstart.fcolumn.izquierda
    .main-titulo
      span {{cabecera.titulo}}
    .texto.mobileI
      p {{cabecera.texto}}
  .flex.jcenter.acenter.derecha.fcolumn
    .imagen(style="background-image: url({{cabecera.imagen}})")
    .texto.mobileV
      p {{cabecera.texto}}
.scroll-down.mobileI(scroll-to-target, target="leyendo-tu-mente")
  i.fa.fa-chevron-down
