.cuerpo
  .flex.jcenter.acenter.izquierda
    .imagen(style="background-image: url({{equipoMarketing.imagen}})")
  .flex.jcenter.jstart.fcolumn.derecha
    .titulo
      span {{equipoMarketing.titulo}}
    .texto
      p {{equipoMarketing.texto}}
