.cuerpo
  .flex.jcenter.acenter.izquierda.fmcolumn
    .main-titulo.mobileV
      span {{equipoMarketing.titulo}}
    .imagen(style="background-image: url({{equipoMarketing.imagen}})")
  .flex.jcenter.jstart.fcolumn.derecha
    .main-titulo.mobileI
      span {{equipoMarketing.titulo}}
    .texto
      p {{equipoMarketing.texto}}
