.cuerpo
  .flex.jcenter.jstart.fcolumn.izquierda
    .titulo
      span {{imagenEmpresa.titulo}}
    .texto
      p {{imagenEmpresa.texto}}
  .flex.jcenter.acenter.derecha
    .imagen(style="background-image: url({{imagenEmpresa.imagen}})")
