.cuerpo
  .flex.jcenter.jstart.fcolumn.izquierda
    .main-titulo
      span {{imagenEmpresa.titulo}}
    .texto
      p {{imagenEmpresa.texto}}
    .descuento
      span Obtenga un 20% off
  .flex.jcenter.acenter.derecha
    .imagen(style="background-image: url({{imagenEmpresa.imagen}})")
