cabecera.seccion-home(fade-in-on-scroll, ng-if="cabecera")
leyendo-tu-mente.seccion-home(fade-in-on-scroll, ng-if="leyendoTuMente")
imagen-empresa.seccion-home(fade-in-on-scroll, ng-if="imagenEmpresa")
equipo-marketing.seccion-home(fade-in-on-scroll, ng-if="equipoMarketing")
features-app.seccion-home(fade-in-on-scroll, ng-if="featuresApp")
beneficios.seccion-home(fade-in-on-scroll, ng-if="beneficios")
ahorro.seccion-home(fade-in-on-scroll, ng-if="ahorro")
equipo-ant.seccion-home(fade-in-on-scroll, ng-if="equipoAnt")
