doctype html
html(lang="es", ng-app="MainApp")
  head
    title Ant
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(property='og:title', content='Ant')
    meta(property='og:description', content='Ant es un sistema....')
    meta(property='og:image', content='/assets/images/logo.png')
    meta(property='og:url', content='https://ant.com.ar')
    meta(name='twitter:card', content='summary_large_image')
    meta(property='og:site_name', content='ant')
    meta(name='twitter:image:alt', content='Logo')
    link(rel="stylesheet", href="node_modules/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="node_modules/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="css/style.min.css")
    link(rel="shortcut icon", type="image/x-icon", href="assets/images/favicon.ico")
  body(ng-controller="mainController", class="{{bodyClass}}", ng-cloak)

    .contenedor-principal
      
      //- main-menu

      section.contenido
        div(ng-view, autoscroll="true")

      //- footer-section

    script(src="node_modules/jquery/dist/jquery.min.js", charset="utf-8")
    script(src="node_modules/bootstrap/dist/js/bootstrap.min.js", charset="utf-8")
    script(src="node_modules/angular/angular.min.js", charset="utf-8")
    script(src="node_modules/angular-route/angular-route.min.js", charset="utf-8")
    script(src="node_modules/angular-touch/angular-touch.min.js", charset="utf-8")

    script(src="js/libs.min.js", charset="utf-8")

    script(src="js/app.min.js", charset="utf-8")
