equipo-marketing {
  position: relative;
  .cuerpo {
    width: 80%;
    @media all and (max-width: $mobileC1) {
      flex-direction: column;
      width: 90%;
    }
    .izquierda {
      width: 50%;
      margin-right: 10%;
      @media all and (max-width: $mobileC1) {
        width: 100%;
        margin: 0;
      }
      .imagen {
        width: 100%;
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        @include sombra-arrojada(0 0 3px #224);
      }
    }
    .derecha {
      max-width: 350px;
      width: 40%;
      @media all and (max-width: $mobileC1) {
        max-width: none;
        width: 100%;
      }
      .main-titulo {
        margin-bottom: 30px;
        span {
          line-height: 120%;
          font-size: 200%;
          color: $colorAmarillo;
        }
      }
      .texto {
        p {
          font-size: 95%;
          color: #ccc;
        }
      }
    }
  }
}
