imagen-empresa {
  position: relative;
  .cuerpo {
    width: 80%;
    .izquierda {
      max-width: 350px;
      width: 35%;
      @media all and (max-width: $mobileC1) {
        max-width: none;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        min-height: 300px;
      }
      .main-titulo {
        margin-bottom: 30px;
        span {
          line-height: 120%;
          font-size: 230%;
          color: $colorCelestino;
        }
      }
      .texto {
        p {
          font-size: 95%;
          color: #ccc;
          @media all and (max-width: $mobileC1) {
            text-align: justify;
          }
        }
      }
      .descuento{
        span{
          padding: 10px;
          color: #ef578a;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 80%;
          border-radius: 25px;
          border: 1.5px solid #ef578a;
        }
      }
    }
    .derecha {
      width: 60%;
      @media all and (max-width: $mobileC1) {
        display: none;
      }
      .imagen {
        width: 100%;
        height: 300px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        @include sombra-arrojada(0 0 3px #224);
      }
    }
  }
}
